@model OrderViewModel
@section PageHeader
{
    <partial name="~/Views/Partials/_PageHeader.cshtml" />
}
<div id="placeHolderHere"></div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fatura Detayı</h1>
        <form method="post" asp-action="Checkout">
            <div class="row g-5">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <div class="row">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header fw-bold">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#addresses" aria-expanded="true" aria-controls="addresses">
                                        Adresler:
                                    </button>
                                </h2>
                                <div id="addresses" class="accordion-collapse show collapse  px-3"
                                    data-bs-parent="#addresses">

                                    <partial name="~/Views/Partials/_AddressCard.cshtml" for="UserAddresses" />


                                    <div class="text-end w-100 px-3 py-3">
                                        <a type="button" data-url='@Url.Action($"AddAddress/")'
                                            class="btn btn-outline-success" data-bs-toggle="modal"
                                            data-bs-target="#addModal">
                                            Adres Ekle
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea name="Notes" placeholder="Siparişnizle alakalı notlarınız!" cols="30" rows="10"
                            class="form-control my-3"></textarea>
                    </div>
                    <input type="hidden" value="@User.Identity.Name" name="UserName" />
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ürünler</th>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Miktar</th>
                                    <th scope="col">Toplam</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Order.Lines ?? Enumerable.Empty<CartLine>())
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/@item.Product.ImageUrl" class="img-fluid rounded-circle"
                                                    style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.Product.Name</td>
                                        <td class="py-5">@item.Product.UnitPrice ₺</td>
                                        <td class="py-5">@item.Quantity</td>
                                        <td class="py-5">@(item.Quantity * item.Product.UnitPrice) ₺</td>
                                    </tr>
                                }

                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">Tutar:</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@Model.Order.Lines.Sum(x => x.Product.UnitPrice *
                                                x.Quantity) ₺</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit"
                            class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Siparişi
                            tamamla</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{

    <script>

        let placeHolderHere = $('#placeHolderHere');
        $('a[data-bs-toggle="modal"]').click(function (event) {
            let url = $(this).data('url');
            let decodedUrl = decodeURIComponent(url);
            $.get(decodedUrl).done(function (data) {
                placeHolderHere.html(data);
                placeHolderHere.find('.modal').modal('show')
            })
        })



    </script>

}