@model Order
@section PageHeader
{
    <partial name="~/Views/Partials/_PageHeader.cshtml" />
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fatura Detayı</h1>
        <form asp-action="Checkout" asp-controller="Order">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Adı <sup>*</sup></label>
                                <input asp-for="@Model.FirstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Soyadı<sup>*</sup></label>
                                <input asp-for="@Model.LastName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.Address" class="form-label my-3">Adres<sup>*</sup></label>
                        <input asp-for="@Model.Address" type="text" class="form-control">
                    </div>
                    
                    <div class="form-item">
                        <label asp-for="@Model.City" class="form-label my-3">Şehir<sup>*</sup></label>
                        <input asp-for="@Model.City" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.Country" class="form-label my-3">Ülke<sup>*</sup></label>
                        <input asp-for="@Model.Country" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.PostCode" class="form-label my-3">Posta Kodu<sup>*</sup></label>
                        <input asp-for="@Model.PostCode" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.Mobile"  class="form-label my-3">Telefon<sup>*</sup></label>
                        <input asp-for="@Model.Mobile" type="tel" class="form-control">
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.Email" class="form-label my-3">E Posta<sup>*</sup></label>
                        <input asp-for="@Model.Email" type="email" class="form-control">
                    </div>
                    
                    <hr>
                    
                    <div class="form-item">
                        <textarea asp-for="@Model.Notes" name="text" class="form-control" spellcheck="false" cols="30" rows="11"
                            placeholder="Oreder Notes (Optional)"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ürünler</th>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Miktar</th>
                                    <th scope="col">Toplam</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lines ?? Enumerable.Empty<CartLine>())
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/@item.Product.ImageUrl" class="img-fluid rounded-circle"
                                                    style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.Product.Name</td>
                                        <td class="py-5">@item.Product.UnitPrice ₺</td>
                                        <td class="py-5">@item.Quantity</td>
                                        <td class="py-5">@(item.Quantity * item.Product.UnitPrice) ₺</td>
                                    </tr>
                                }

                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">Tutar:</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@Model.Lines.Sum(x => x.Product.UnitPrice * x.Quantity) ₺</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit"
                            class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Siparişi
                            tamamla</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>