@page
@model MvcUIApp.Pages.CartModel
@{
    ViewData["Title"] = "CartModel";
}
@section PageHeader
{
    <partial name="~/Views/Partials/_PageHeader.cshtml" />
}
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ürünler</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Birim Fiyatı</th>
                        <th scope="col">Miktar</th>
                        <th scope="col">Toplam</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines ?? Enumerable.Empty<CartLine>())
                    {
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="img/vegetable-item-3.png" class="img-fluid me-5 rounded-circle"
                                        style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">@line.Product.Name</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@line.Product.UnitPrice ₺</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    @line.Quantity/Kg
                                </p>
                                <!--
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="@line.Quantity">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div> -->
                            </td>
                            <td>
                                <p class="mb-0 mt-4"> @((line.Product.UnitPrice * line.Quantity))</p>
                            </td>
                            <td>
                                <form method="post" asp-page-handler="Remove">
                                    <input type="hidden" name="id" value="@line.Product.Id">
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                    <button class="btn btn-md rounded-circle bg-light border mt-4">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="mt-5">
            <a class="btn border-secondary rounded-pill px-4 py-3 text-primary" href="@Model?.ReturnUrl">Alış Verişe
                Devam</a>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Sepet <span class="fw-normal">Toplamı</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Ara Toplam:</h5>
                            <p class="mb-0">@Model.Cart.ComputeTotalValue()</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Kargo Ücreti:</h5>
                            <div class="">
                                <p class="mb-0">
                                    @(Model.Cart.ComputeTotalValue() >  500 || Model.Cart.ComputeTotalValue() <=  0  ?  "0 ₺" : "30 ₺")
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Toplam</h5>
                        <p class="mb-0 pe-4">
                            @(Model.Cart.ComputeTotalValue() >  500 || Model.Cart.ComputeTotalValue() <=  0  ?   $"{Model.Cart.ComputeTotalValue()} ₺" : $"{Model.Cart.ComputeTotalValue() + 30} ₺")
                        </p>
                    </div>
                    <a asp-action="Checkout" asp-controller="Order" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                        type="button">Alış Verişi Tamamla</a>
                </div>
            </div>
        </div>
    </div>
</div>